### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

# Note
I didn't get as far in this as I would have liked. This is what I have after about fifteen hours.

In [ ]:
#
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

In [7]:
school_data_complete_df. head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [8]:
#Calculate the total number of schools
num_of_schools = len(school_data_complete_df["school_name"].unique())
num_of_schools

15

In [9]:
#Calculate the total number of students
num_of_students = school_data_complete_df["Student ID"].count()
num_of_students

39170

In [10]:
#Calculate the total budget
total_budget = school_data_complete_df["budget"].sum()
total_budget

82932329558

In [11]:
#Calculate the average math score
avg_math_score = school_data_complete_df["math_score"].mean()
avg_math_score

78.98537145774827

In [12]:
#Calculate the average reading score
avg_reading_score = school_data_complete_df["reading_score"].mean()
avg_reading_score

81.87784018381414

In [13]:
#calculate the percentage of students with a passing math score
#first we are going to create a new column within the dataframe that holds the students who passed math with a boolean 
#value.
school_data_complete_df["math_pass"] = school_data_complete_df["math_score"] >= 70
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,math_pass
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True

In [14]:
#now that we have this new column, we can count the numbner of students who passed math and then convert that into 
#a percentage of the student body as a whole in order to find the math pass rate. 
ps_rate_math = (school_data_complete_df["math_pass"].sum() / num_of_students) * 100
ps_rate_math

74.9808526933878

In [15]:
#calculate the percentage of students with a passing reading score
#we do the same process as we did for finding percentage of students with passing math score: create a new column
#of boolean values, then count the # of students in that column and convert to a % of student body as a whole.
school_data_complete_df["reading_pass"] = school_data_complete_df["reading_score"] >= 70
ps_rate_read = (school_data_complete_df["reading_pass"].sum() / num_of_students) * 100
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,math_pass,reading_pass
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True

In [16]:
#calculate number of students passing both reading and math
#first we create a column for boolean value of students passing both
school_data_complete_df["passing_both"] = (school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"]>=70)
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,math_pass,reading_pass,passing_both
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,True

In [17]:
#then we count the number of students passing both courses and convert to a percentage of the student body as a whole
ps_rate_both = (school_data_complete_df["passing_both"].sum() / num_of_students)
ps_rate_both

0.6517232575950983

In [18]:
#Create a dataframe to hold the above results
# We have already altered the current dataframe, but if we want to create a new dataframe with just the above results
# we can create a new dataframe and delete the columns we don't want.
passing_scores_df = school_data_complete_df[["Student ID", "student_name", "school_name", "passing_both", "math_pass", "reading_pass",]]

passing_scores_df.head()

,Student ID,student_name,school_name,passing_both,math_pass,reading_pass
0,0,Paul Bradley,Huang High School,False,True,False
1,1,Victor Smith,Huang High School,False,False,True
2,2,Kevin Rodriguez,Huang High School,False,False,True
3,3,Dr. Richard Scott,Huang High School,False,False,False
4,4,Bonnie Ray,Huang High School,True,True,True

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [23]:
#I'm not sure why the code below isn't working, I'm just turning in what I have; 
#thanks to TA Chris and Benji for the sessions up to this point. 
#I worked with Kristina Langsten on this as well. 

school_summary_df = school_summary_df.groupby.first()
school_summary_df

#Add total students
#school_summary_df['Total Students'] = school_summary_groupby.count()["Student ID"]


#Add Per Student Budget
school_summary_df['Per_Student_Budget'] = (school_summary_df["budget"] / school_summary_df["Total Students"])
school_summary_df

#find average math score per school by finding the average of groupby sets:
#We need to calculate the percentage of students with a passing math score
pct_math_70 = student_data_df[student_data_df.math_score >=70].count().school_name
print(f"Percent of students with 70 or greater in Math: {(pct_math_70/num_of_students)*100 }%")

pct_read_70= student_data_df[student_data_df.reading_score >=70].count().school_name
print(f"Percent of students with 70 or greater in reading: {(pct_read_70/num_of_students)*100 }%")

pct_ReadAndMath_70= student_data_df[(student_data_df.reading_score >=70) & (student_data_df.math_score >=70)].count().school_name
print(f"Percent of students with 70 or greater in reading: {(pct_ReadAndMath_70/num_of_students)*100 }%")

school_summary_df['Avg_Math_Score'] = school_data_complete_df.groupby('school_name').math_score.mean()

#Average Reading Score
school_summary_df['Avg_Reading_Score'] = school_data_complete_df.groupby('school_name').reading_score.mean()


#% Overall Passing (The percentage of students that passed math and reading.)
num_students_passing_both = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)& (school_data_complete_df["reading_score"] >= 70) ] 

#school_summary_df['num_Passing_Both'] = school_data_complete_df(num_students_passing_both)


school_summary_df
#Add Total School Budget
#school_summary_df.head(16)



#School Summary

AttributeError: 'function' object has no attribute 'first'

In [90]:
#we then make a dataframe to hold the above results
data = ({"Total_Schools": [num_of_schools],
         "Total_Students":[num_of_students],
         "Total Budget": [total_budget],
         "Average Math Score:": [avg_math_score],
         "% Passing Math": [pct_math_70],
         "% Passing Reading": [pct_read_70],
         "% Overall Passing": [pct_ReadAndMath_70]})
district_df = pd.DataFrame.from_dict(data)
district_df

,Total_Schools,Total_Students,Total Budget,Average Math Score:,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,82932329558,78.985371,29370,33610,25528

In [107]:
School_Name_Group = district_df["Total_Schools"].groupby(student_data_df["school_name"])
district_df["School_Name_Group"] = School_Name_Group
district_df

,Total_Schools,Total_Students,Total Budget,Average Math Score:,% Passing Math,% Passing Reading,% Overall Passing,School_Name_Group
0,15,39170,82932329558,78.985371,29370,33610,25528,"(Huang High School, [15])"

In [2]:
#now we need to create a 2nd column that will list the type of the schools as either district or charter.
# I want to filter add the column of school_type to the new data-frame but this isn't working...
 
school_summary_df = school_summary_groupby.first()

#we drop the columns we don't need
school_summary_df.drop(["Student ID", "student_name", "gender", "grade", "reading_score", "math_score", "School ID", "size", "math_pass", "reading_pass", "passing_both"], axis = 1, inplace = True)

#Add total students
school_summary_df['Total Students'] = school_summary_groupby.count()["Student ID"]

#Add Per Student Budget
school_summary_df['Per_Student_Budget'] = (school_summary_df["budget"] / school_summary_df["Total Students"])

#find average math score per school by finding the average of groupby sets:

school_summary_df['Avg_Math_Score'] = school_data_complete_df.groupby('school_name').math_score.mean()

#Average Reading Score
school_summary_df['Avg_Reading_Score'] = school_data_complete_df.groupby('school_name').reading_score.mean()
school_summary_df

#I NEED HELP FIGURING OUT HOW TO GET PERCENTAGE OF STUDENTS PASSING BOTH AS A COLUMN IN THE NEW DATAFRAME BELOW
school_summary_df['students_passing both'] = school_data_complete_df[school_data_complete_df['passing_both']].groupby('school_name').passing_both.count()
school_summary_df

school_summary_df['passing_both'] = school_data_complete_df[school_data_complete_df['passing_both'] == True].groupby('school_name').count()['Student ID']

#school_summary_df

#school_summary_df['%_passing_both'] = school_summary_df['students_passing_both'] /school_summary_df[""]
#per_school_passing_math = students_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

#per_school_passing_reading = students_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

school_data_complete_df['%_Passing_Both'] = school_data_complete_df.groupby('school_name')
school_summary_df
#Add Total School Budget
#school_summary_df.head(16)

NameError: name 'school_summary_groupby' is not defined

In [109]:

#Add Average Math Score--use groupby to pull out average values

SyntaxError: invalid syntax (<ipython-input-110-525cef17707c>, line 1)

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
school_column = ["Bailey High School", ""